@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.dark {
  --bg-color: #1a202c;
  --text-color: #a0aec0;
  --border-color: #2d3748;
}

.light {
  --bg-color: #ffffff;
  --text-color: #1a202c;
  --border-color: #e2e8f0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-color: var(--bg-color);
  color: var(--text-color);
}

.border {
  border-color: var(--border-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.reply-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.reply-container.show {
  max-height: 1000px;
  opacity: 1;
}

.reply-box {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.reply-box.show {
  max-height: 500px; /* Adjust this value if necessary */
  opacity: 1;
}
